<header id="site-header">
  <div class="container">
    <h1 class="site-title"><a [routerLink]="['/']">Zombi</a></h1>
    <nav class="site-nav">
      <div [ngClass]="{'is-user': user, 'is-anon': anon}">
        <div *ngIf="!loading && !!user">
          <a [routerLink]="['/profile', user._id]">{{user.username}}</a>
          <a [routerLink]="['/add-location']">Add Sighting</a>
          <a [routerLink]="['/map']">Map</a>
          <a (click)="handleLogout()">logout</a>
        </div>
        <div *ngIf="!loading && anon">
          <a [routerLink]="['/login']">login</a>
          <a [routerLink]="['/signup']">signup</a>
        </div>
      </div>
    </nav>

  </div>
</header>

<div id="site-main">
  <router-outlet></router-outlet>
</div>

<footer id="site-footer">
  <div class="container">
    &copy; 2018 Kumamako Productions
  </div>
</footer>

